*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.social-icons{
    background: transparent;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 30px;
    width: 100%;


}

.social-icons a{
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: medium;
   
}

.social-icons a i {
    background-color: #007700;
    padding: 5px;
    border-radius: 50%;
}


.navbar{
    background: linear-gradient(90deg, #004400 , #009900 );
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    

}

img{
    cursor: pointer;
}

.navbar ul{
    list-style: none;
    display: flex;

}

.navbar ul li {
    padding: 10px 20px;
    position: relative;

}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;

    transition: all 0.3s;

    
}
.navbar ul li a:hover  {
    text-decoration: underline white;

}



.dropdown-menu-1{
    display: none;
}

.navbar ul li:hover .dropdown-menu-1{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #007700;


}

.navbar ul li:hover .dropdown-menu-1 ul{
    display: block;
    
    
    margin: 5px;
} 

.navbar ul li:hover .dropdown-menu-1 ul li{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    
    width: 200px;
    padding: 10px;


}

.dropdown-menu-2{
    display: none;
}

.navbar ul li:hover .dropdown-menu-2{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #007700;


}

.navbar ul li:hover .dropdown-menu-2 ul{
    display: block;
    margin: 5px;
} 

.navbar ul li:hover .dropdown-menu-2 ul li{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 10px;
    
    width: 170px;
    padding: 10px;


}

button.get-started-btn{
    background-color: #ffff;
    padding: 7px;
    border-radius: 8px;
    color: #004400;
    font-size: 15px;
    outline: none;
}

button.get-started-btn:hover{
    background: transparent;
    border: solid #004400 3px;
    border-radius: 8px;
    color: white;

}

.divpadding{
    background-image: linear-gradient(180deg,  rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)  ), url(./assets/waste.png);
    background-repeat: no-repeat;
     background-size:cover;
    width: 100%;
    height: 700px;
    color: white;
}

section{
    padding: 5px 80px;
}

/* schedule pick up button */

div.schedulepickup{
    display: flex;
    justify-content: flex-end;
}

 div.schedulepickup button{
    background-color: #007700;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    outline: none;
    border-radius: 40px;
     
}

div.schedulepickup button:hover{
    background: transparent;
    border: solid #004400 3px;
    border-radius: 15px;
    
}

 /* horizontal line */


hr{
    color:black !important;
    width: 100%;
    display: flex;
    justify-content: center;
}




/* footer styling  */


footer{
    width: 100%;
    padding: 2px ;
    position: relative;
    background: linear-gradient(90deg, #004400 , #009900 );
    color: white;
}

.footer-padding{
    padding: .5rem 1.5rem;
    }

    
.footer-box-1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 17rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    
    
}

div.footer-box-social{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}


.footer-social{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.footer-social a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


div.footer-subscribe{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

div.footer-subscribe div h2{
    margin-bottom: 15px;
}


div.footer-subscribe div input{
    padding: 10px;
    padding-right: 70px;
    
}

div.footer-subscribe div input::placeholder {
    color: gray;
    font-size: 15px;
}

div.footer-subscribe div button{
    background-color: #007700;
    padding: 8px;
    outline: none;
    color: white;
    font-size: 15px;
    font-weight: 100;
}



div.footer-subscribe div button:hover{
    background: transparent;
    border: solid #004400 2px;
    
    
}

div.footer-links-section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
}

div.footer-links h4{
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    margin-bottom: 15px;

}

div.footer-links ul{
    list-style: none;
    text-decoration: none;

}

div.footer-links ul li{
    margin-top: 8px
}

div.footer-links ul li a{
    list-style: none;
    text-decoration: none;
    color: white;

    
}

div.footer-links ul li a:hover{
    text-decoration: underline white;
}

div.copyright{
    width: 100%;
    background-color: #002200;
    margin-top: 2rem;
    display: flex;
    padding: 1rem 4rem; 
    justify-content: space-between;
    align-items: center;

}

div.socials{
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: start;
}

div.socials i:hover{
    text-decoration: underline white;
    font-size: 25px;

}